
/* Your CSS Code here. */

.holder {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	font-size:36px;
	font-weight:700;
}

.item-1 {
	background-color:green;
	width:100px;
	height:100px;
}

.item-2 {
	background-color:red;
	width:100px;
	height:100px;
}

.item-3 {
	background-color:blue;
	width:100px;
	height:100px;
}